@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
body,h6,h5, h4, li {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color:rgb(38, 40, 43);
  color:snow;
  text-align:center;
}

h1{
  text-transform:uppercase;
}

h6,h5{
  font-size: 3%;
}

ul,h4{
  padding-top:10%;
  margin-left:15%;
}
li{
  text-align:left;
  margin-right:40%;
  margin-left:5%;
  text-overflow: ellipsis;
}
